beautifulsoup4==4.7.1
celery==4.2.1
flake8==3.6.0
Flask==1.0.2
Flask-Mail==0.9.1
Flask-Script==2.0.6
gunicorn==19.9.0
icecola==0.2
peewee==3.9.2
pendulum==2.0.4
pymongo==3.7.2
pytest==4.3.0
pytest-cov==2.6.1
python-dotenv==0.10.1
raven==6.10.0
redis==3.2.0
requests==2.21.0
fake_useragent
