{% extends 'bootstrap/base.html' %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/hello_css.css') }}">
{% endblock %}
{% block navbar %}
    <nav class="navbar navbar-light bg-light">
        <ul class="nav">
            <li><a class="navbar-brand" href="/">首页</a></li>

            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜索</button>
            </form>

        </ul>

    </nav>


{% endblock %}


{% block content %}
    <div class="container">
        <h1 class="h1" id="hello_h1"></h1>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        h1 = document.getElementById("hello_h1");
        h1.innerHTML = "hello jasmine and js"
    </script>

    {{ super() }}
    <script src=" {{ url_for('static',filename='js/hello_jquery.js') }}"></script>
{% endblock %}

